html {
  --text-color: rgb(177, 231, 177);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(50deg, rgb(0, 0, 0), rgb(20, 41, 6));
}

h1 {
  font-size: 2rem;
  color: var(--text-color);
}

#main-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  justify-items: center;
}

#audio-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
}

.audio-player {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid var(--text-color);
  justify-content: space-between;
  width: 100%;
  color: var(--text-color);
  border-radius: 10px;
}

.audio-player button {
  background-color: rgba(6, 41, 33, 0.337);
  color: var(--text-color);
  border-radius: 10px;
  border: 1px solid var(--text-color);
}
