body {
  min-height: 100vh;
  background-image: linear-gradient(50deg, rgb(0, 0, 0), rgb(32, 64, 11));
}

h1 {
  font-size: 2rem;
  color: blanchedalmond;
}

#main-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  justify-items: center;
}

#audio-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}

/* .audio-player {
  justify-items: center;
} */
